body,
html {


    font-family: 'IBM Plex Mono', monospace;

}


.text_red {
    color: rgb(220 38 38/1)
}

.bg_green {
    background-color: rgb(74 222 128/1);
}

.bg_red {
    background-color: rgb(220 38 38/1);
}

.bg_yellow {
    background-color: rgb(252, 206, 53);
}

.text_green {
    color: rgb(74 222 128/1)
}

.text_orange {
    color: rgb(252, 139, 46);
}


.filled {
    font-size: 3.5rem;
    line-height: 3.5rem;
}